// Fonts
$font-family-body = "IBM Plex Sans", "Helvetica Neue", "Microsoft YaHei", "PingFang SC", "Noto Sans CJK SC", sans-serif
$font-family-mono = "IBM Plex Mono", "Menlo", "Meslo LG", Consolas, monospace
$font-family-display = "IBM Plex Sans Condensed", "Arial Narrow", "Microsoft YaHei", sans-serif
$font-size = 15px
$line-height = 1.75
$page-width = 0rem + (hexo-config("page_width") || 39)
// Logo
$logo-width = 0px + (hexo-config("logo.width") || 0)
$logo-height = 0px + (hexo-config("logo.height") || 0)
$logo-grayout = hexo-config("logo.grayout") || false
// Colors
$colors = hexo-config("colorscheme") || "dark"
