.highlight
  background: #000
  color: #c98f3b

  .code
    color: #c98f3b

    .comment,
    .quote,
    .meta
      color: #7a5724

    .keyword,
    .selector-tag,
    .tag,
    .name,
    .title,
    .section,
    .type,
    .doctag
      color: #ffd37a

    .attribute,
    .selector-id,
    .string,
    .selector-attr,
    .selector-pseudo,
    .addition
      color: #ffb84d

    .regexp,
    .link,
    .number,
    .literal,
    .symbol,
    .bullet,
    .variable,
    .template-variable,
    .built_in,
    .builtin-name
      color: #b47a28

    .deletion
      color: #d99836

    .emphasis
      font-style: italic

    .strong
      font-weight: bold
