$color-background = #282a36
$color-footer-mobile-1 = #242631
$color-footer-mobile-2 = #1f212b
$color-background-code = #1f2130
$color-border = #6272a4
$color-scrollbar = #6272a4
$color-meta = #8be9fd
$color-meta-code = #bd93f9
$color-link = #ff79c6
$color-text = #f8f8f2
$color-accent-3 = #6272a4
$color-accent-2 = #f8f8f2
$color-accent-1 = #bd93f9
$color-quote = #f1fa8c
$highlight = "darkula"
