$color-background = #000
$color-footer-mobile-1 = #030200
$color-footer-mobile-2 = #000
$color-background-code = #050300
$color-border = #6a4816
$color-scrollbar = #8a5f1f
$color-meta = #b47a28
$color-meta-code = #ffbf57
$color-link = #d99836
$color-text = #c98f3b
$color-accent-3 = #7a5724
$color-accent-2 = #ffd37a
$color-accent-1 = #ffb84d
$color-quote = #d6a652
$highlight = "terminal-amber"
